<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DSW6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Exercicio01</display-name>
    <servlet-name>Exercicio01</servlet-name>
    <servlet-class>com.lista.Exercicio01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio01</servlet-name>
    <url-pattern>/Exercicio01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio02e03</display-name>
    <servlet-name>Exercicio02e03</servlet-name>
    <servlet-class>com.lista.Exercicio02e03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio02e03</servlet-name>
    <url-pattern>/Exercicio02e03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio04</display-name>
    <servlet-name>Exercicio04</servlet-name>
    <servlet-class>com.lista.Exercicio04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio04</servlet-name>
    <url-pattern>/Exercicio04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio05</display-name>
    <servlet-name>Exercicio05</servlet-name>
    <servlet-class>com.lista.Exercicio05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio05</servlet-name>
    <url-pattern>/Exercicio05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercio06</display-name>
    <servlet-name>Exercio06</servlet-name>
    <servlet-class>com.lista.Exercio06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercio06</servlet-name>
    <url-pattern>/Exercio06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio07</display-name>
    <servlet-name>Exercicio07</servlet-name>
    <servlet-class>com.lista.Exercicio07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio07</servlet-name>
    <url-pattern>/Exercicio07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio08</display-name>
    <servlet-name>Exercicio08</servlet-name>
    <servlet-class>com.lista.Exercicio08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio08</servlet-name>
    <url-pattern>/Exercicio08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio09</display-name>
    <servlet-name>Exercicio09</servlet-name>
    <servlet-class>com.lista.Exercicio09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio09</servlet-name>
    <url-pattern>/Exercicio09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio10</display-name>
    <servlet-name>Exercicio10</servlet-name>
    <servlet-class>com.lista.Exercicio10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio10</servlet-name>
    <url-pattern>/Exercicio10</url-pattern>
  </servlet-mapping>
</web-app>